.App {
  text-align: center;
}

nav ul
{
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav li
{
  color: gray;
  display: inline-block;
  padding: .2em 1em;
  border: solid gray 2px;
  background: lightblue;
  margin-right: .5em;
  cursor: pointer;
}
nav li.selected
{
  border-color: black;
  color: black;
}
nav ul:hover li.selected
{
  border-color: gray;
  color: gray;
}
nav ul:hover li.selected:hover, nav li:hover
{
  border-color: black;
  color: black;
}
